/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  .container {
    display: flex;
    flex: 1;
    flex-direction: column;

    .header {
      display: flex;
      height: 200px;
      background: #2488fa;
 
        color: white;
    }

    ::deep mat-progress-spinner {
      color: red;
    }
  }
}
