<app-quick-fact [title]="'Other facts'">
  <div class="flex-rows">
    <div class="flex-columns padding-bt5">
      <div class="icon"></div>
      <div class="text">Total Stays:</div>
      <div class="data">24</div>
    </div>
    <div class="flex-columns padding-bt5">
      <div class="icon"></div>
      <div class="text">Nights:</div>
      <div class="data">32</div>
    </div>

    <div class="flex-columns padding-bt5">
      <div class="icon"></div>
      <div class="text">Avg Stay</div>
      <div class="data">1.33 nights</div>
    </div>

    <div class="flex-columns padding-bt5">
      <div class="icon"></div>
      <div class="text">Last visit</div>
      <div class="data">2018-05-23</div>
    </div>

    <div class="flex-columns padding-bt5">
      <div class="icon"></div>
      <div class="text">Lifetime Value</div>
      <div class="data">{{ "3084.29" | currency }}</div>
    </div>

  </div>
</app-quick-fact>